@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Dashboard";
    var labelsJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Labels);
}

<style>
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Memastikan semua elemen ada di tengah */
        text-align: center;
        gap: 10px; /* Beri jarak antara judul dan chart */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<br />
<div class="chart-section">
    <h2 class="chart-title">Users Genders</h2>
    <div class="chart-container-users">
        <canvas id="myChart" width="350" height="200"></canvas>
    </div>
    <h2 class="chart-title">Users City</h2>
    <div class="chart-container-users">
        <canvas id="myChart-City" width="350" height="200"></canvas>
    </div>
</div>
<br />

@section scripts {
    <!-- jQuery -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    @*<script src="~/assets/plugins/chart.js/Chart.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/dist/js/demo.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Chart/GetChartData')
                .then(response => response.json())
                .then(data => {
                    console.log("Data dari server:", data);
                    const ctx = $('#myChart').get(0).getContext('2d');
                    new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                        options: {
                            responsive: false,
                            scales: {
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                },
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Fetch error:', error));
        });
    </script>
    <script>
        var barColors = ["red", "green", "blue", "orange"];

        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Chart/GetCountryDataChart')
                .then(response => response.json())
                .then(data => {
                    console.log("Data dari server:", data);
                    const ctx = $('#myChart-City').get(0).getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: data,
                        backgroundColor: [
                            '#FF6384', // Warna untuk "Male"
                            '#36A2EB', // Warna untuk "Female"
                            '#FFCE56'  // Warna untuk "Unknown"
                        ],
                        options: {
                            responsive: false,
                            scales: {
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                },
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Fetch error:', error));
        });
    </script>
}