@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "Dashboard";
    var labelsJson = Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Labels);
}

<!-- SweetAlert2 -->
<link rel="stylesheet" href="~/assets/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

<style>
    .chart-container {
        display: flex; /* Mengatur layout ke horizontal */
        justify-content: space-between; /* Memberi jarak antara chart */
        align-items: center;
        gap: 20px; /* Jarak antar chart */
        flex-wrap: wrap; /* Jika layar kecil, chart akan turun ke bawah */
    }

    .chart-box {
        flex: 1; /* Kedua chart memiliki lebar yang sama */
        min-width: 400px; /* Batasan minimal */
        text-align: center; /* Rata tengah judul */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<br />
<div class="chart-section">
    <h2 class="chart-title">Users Genders</h2>
    <div class="chart-container-users">
        <canvas id="myChart" width="400" height="250"></canvas>
    </div>
    <h2 class="chart-title">Users Country</h2>
    <div class="chart-container-users">
        <canvas id="myChart-City" width="350" height="200"></canvas>
    </div>
    <div class="chart-box">
        <h3>Tickets</h3>
        <canvas id="ticketChart" width="1200" height="500"></canvas>
    </div>
</div>
<br />

@section scripts {
    <!-- jQuery -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    @*<script src="~/assets/plugins/chart.js/Chart.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/dist/js/demo.js"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Chart/GetChartData')
                .then(response => response.json())
                .then(data => {
                    console.log("Data dari server:", data);
                    const ctx = $('#myChart').get(0).getContext('2d');
                    new Chart(ctx, {
                        type: 'doughnut',
                        data: data,
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
                        options: {
                            responsive: false,
                            scales: {
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                },
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Fetch error:', error));
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Chart/GetCountryDataChart')
                .then(response => response.json())
                .then(data => {
                    console.log("Data dari server:", data);
                    const ctx = $('#myChart-City').get(0).getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: data,
                        backgroundColor: [
                            '#FF6384', // Warna untuk "Male"
                            '#36A2EB', // Warna untuk "Female"
                            '#FFCE56'  // Warna untuk "Unknown"
                        ],
                        options: {
                            responsive: false,
                            scales: {
                                y: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                },
                                x: {
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        display: false
                                    }
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Fetch error:', error));
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/Chart/GetTicketDataChart')
                .then(response => response.json())
                .then(data => {
                    console.log("Data dari server:", data);
                    const ctx = document.getElementById('ticketChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: data.datasets[0].label,
                                data: data.datasets[0].data,
                                borderColor: data.datasets[0].borderColor,  // Warna garis
                                backgroundColor: data.datasets[0].backgroundColor,  // Fill warna bawah garis
                                borderWidth: data.datasets[0].borderWidth,
                                fill: true
                            }]
                        },
                        options: {
                            responsive: false,  // Bisa menyesuaikan layar
                            scales: {
                                x: {
                                    title: {
                                        display: true,
                                        text: 'Ticket Title'
                                    }
                                },
                                y: {
                                    beginAtZero: true,
                                    title: {
                                        display: true,
                                        text: 'Count'
                                    }
                                }
                            }
                        }
                    });
                })
                .catch(error => console.error('Fetch error:', error));
        });
    </script>

    @if (TempData["LoginSuccess"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Login Berhasil!',
                text: 'Selamat datang di Dashboard'
            });
        </script>
    }

}