/* Fix sidebar height */
.main-sidebar {
    height: 100vh !important;
    position: fixed;
    overflow: hidden !important;
}

.sidebar {
    height: calc(100vh - 120px) !important; /* 120px = tinggi header + brand */
    overflow-y: auto !important;
    display: flex !important;
    flex-direction: column;
}

/* Paksa scrollbar selalu muncul */
.os-host {
    overflow: auto !important;
}

/* Atur tinggi minimum untuk konten sidebar */
.nav-sidebar {
    min-height: 300px; /* Sesuaikan nilai sesuai kebutuhan */
    flex-grow: 1;
}