.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 70px;
    padding-right: 70px;
}

.card-registration .select-arrow {
    top: 20px;
}

.card-registration {
    border-radius: 50px;
}

.img-fluid {
    flex: 1;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.card-registration {
    margin-top: 4rem !important; /* Sesuaikan nilai sesuai kebutuhan */
}

section {
    padding-bottom: 6rem !important; /* Sesuaikan nilai sesuai kebutuhan */
}

.card-registration {
    margin-bottom: 4rem !important;
}